body {
    background-color: #708090;
    font-family: monospace;
}

#title {
    text-align: center;
}

#main {
    display: block;
    max-width: 900px;
    margin: auto;
    background-color: #eee;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 40px;
}

.scrollable {
    max-width: 100%;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: scroll;
}

#chart {
    margin: auto;
    padding: 5px;
}

.bar {
    fill: darkcyan;
}

.bar:hover {
    fill: white;
}

#tooltip {
    text-align: center;

    position: absolute;
    width: fit-content;

    padding: 10px;
    background-color: darkslategray;
    border-radius: 5px;
    opacity: 0.7;
    color: white;
    visibility: hidden;
    z-index: 10;
}

svg, svg * {
    font-family: monospace;
}
