* {
  margin: 0px;
  padding: 0px;
}

body {
  padding: 10px;
  margin: auto;
  max-width: 800px;
}

.issue {
  margin: 20px;
  padding: 5px;
  width: 60%;
  border: 2px solid black;
}

.closed {
  background-color: lightgrey;
}

.id {
  font-size: 11px;
}
